<% if user_signed_in? %>
  <% @items.each do |item| %>

    <h3><%= link_to item.title, item_path(item) %></h3>
    <p><%= truncate(item.description, length: 50) %></p>

  <% end %>
<% else %>
  <%= render 'welcome_page' %>
<% end %>
